.layout {

  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 60px 1fr;
  height: 100vh;

}


.navbar {

  grid-column: 1 / 3;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:0 25px;

  background:#1e3a8a;
  color:white;

}



.sidebar {

  background:#111827;
  color:white;

  padding:20px;


}


.sidebar ul {

  list-style:none;
  padding:0;

}


.sidebar li {

  padding:15px 0;

  cursor:pointer;

}



.content {

  padding:30px;

}