<div
  class="layout"
  [class.menu-cerrado]="!menuAbierto"
  [class.dark]="modoOscuro">

  <!-- =========================
          NAVBAR
  ========================== -->

  <header class="navbar">

    <div class="navbar-left">

      <button
        class="menu-btn"
        (click)="cambiarMenu()">
        ☰
      </button>

      <div class="brand">

        <span class="logo">
          🎓
        </span>

        <h2>
          Sistema Académico
        </h2>

      </div>

    </div>


    <div class="user-area">

      <div class="user">

        <span class="user-icon">
          👤
        </span>

        <span>
          Administrador
        </span>

      </div>

      <button
        class="theme-btn"
        (click)="cambiarTema()">

        {{ modoOscuro ? '☀️' : '🌙' }}

      </button>

      <button
        class="logout"
        (click)="cerrarSesion()">

        Salir

      </button>

    </div>

  </header>


  <!-- =========================
          SIDEBAR
  ========================== -->

  <aside
    class="sidebar"
    [class.oculto]="!menuAbierto">

    <ul>

      <li routerLink="/dashboard">

        <span>📊</span>

        <span class="texto">
          Dashboard
        </span>

      </li>

      <li routerLink="/usuarios">

        <span>👥</span>

        <span class="texto">
          Usuarios
        </span>

      </li>

      <li routerLink="/docentes">

        <span>👨‍🏫</span>

        <span class="texto">
          Docentes
        </span>

      </li>

      <li routerLink="/estudiantes">

        <span>🎓</span>

        <span class="texto">
          Estudiantes
        </span>

      </li>

      <li routerLink="/materias">

        <span>📚</span>

        <span class="texto">
          Materias
        </span>

      </li>

      <li routerLink="/informes">

        <span>📄</span>

        <span class="texto">
          Informes
        </span>

      </li>

    </ul>

  </aside>


  <!-- =========================
          CONTENIDO
  ========================== -->

  <main class="content">

    <router-outlet></router-outlet>

  </main>

</div>